<div class="m-5">


    <div class="ui-grid-d ui-responsive" id="inputsOrder">
        <div class="ui-block-a ">
            <input type='button' class="ui-body ui-body-d btn " data-buttonId="task" value="Task content">
        </div>
        <div class="ui-block-b hover-input">
            <input type='button' class="ui-body ui-body-d btn" data-buttonId="project" value="Project name">
        </div>
        <div class="ui-block-c hover-input">
            <input type='button' class="ui-body ui-body-d btn" data-buttonId="date" value="Date">

        </div>
        <div class="ui-block-d hover-input">
            <input type='button' class="ui-body ui-body-d btn" data-buttonId="hours" value="Hours">


        </div>
        <div class="ui-block-e hover-input">
            <input type='button' class="ui-body ui-body-d btn" data-buttonId="minutes" value="Minutes">
        </div>

    </div>

    <div class="div-input-image-file " ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
        <!-- <input type="file" class="input-file" id="input-file-now" /> -->
    </div>

    <ul style="margin-top:10px" data-role="listview" data-inset="true" id="inputFilesList">
    </ul>

    <button onclick="sendFilesData();">
        Submit file
    </button>

    <!-- /grid-d -->

    <div data-role="navbar" class="ui-content">
        <ul>
            <li><a class="mr-2  border rounded" href="/index/cron" target="_top">Crono </a></li>
            <li><a class="mr-2  border rounded" href="/index/manual">Manual</a></li>
            <li><a class="mr-2 border rounded ui-btn-active" target="_top">File</a></li>
            <!-- <li><a class="mr-2 border rounded" href="#">File</a></li> -->
        </ul>
    </div>
</div>