<h4 class="text-center m-2">
    Tasks done
</h4>
<div class="tasks_done">

    <ul data-role="listview" data-split-icon="gear" data-split-theme="a" data-inset="true" id="listview_tasks">
        {% for task in tasks%}
        <li>

            <a href="/edit_task/{{task.id}}">

                <h1 style='font-size: 20px;'>{{task.project.project.name}}</h1>
                <h1 style='font-size: 18px;font-weight:500'>{{task.task_content}}</h1>
                <div class="ui-grid-a">
                    <div class="ui-block-a">

                        <h1 style='font-weight: normal;'>{{task.date}}</h1>
                    </div>
                    <div class="ui-block-b ">

                        <h1 style='font-weight: normal;'>{{task.time_used}}</h1>
                    </div>

                </div>


            </a>

        </li>
        {% endfor %}

    </ul>

</div>
<h4 class='mt-3 ml-3 ' id='total_hours'>
    Total hours: {{total_hours}}
</h4>
<!-- <div class="ml-4">
    Prev 1 Next
</div> -->
<div data-role="navbar" class="ui-content m-3">

    {%if project%}
    <ul data-projectid='{{project.project.id}}'>
        {%else%}
        <ul>
            {%endif%}


            <li><a class="mr-1 ui-btn-active border rounded" onclick="getTasks();">Today</a></li>
            <li><a class="mr-1 border rounded" onclick="getTasks();">Week</a></li>
            <li><a class="mr-1 border rounded" onclick="getTasks();">Month</a></li>
            <li><a class="mr-1 border rounded" onclick="getTasks();">Year</a></li>
            <li><a class="mr-1  border rounded" onclick="getTasks();">Total </a></li>

        </ul>
</div>
</div>