{% extends "timetracker/layout.html" %} {% load static %}{% block body %}
<h1 class="text-center p-2">Information about project {{ project.project.name}}</h1>
<div class="ui-grid-a">
    <div class="ui-block-a">
        {% include 'timetracker/forms/form_project.html' %}
    </div>


    <div class="ui-block-b">
        <div>

            {% include 'timetracker/lists/list_tasks.html' %}


            <button data-projectid='{{project.project.id}}' onclick="downloadTasks();">Download tasks done</button>
        </div>


    </div>

</div>



{% endblock %}{% block additionalScripts %}

<script src="{% static 'timetracker/customJS/project.js' %}"></script>

{% endblock %}