{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <link type="text/css" href="{% static 'timetracker/styles.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'timetracker/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'timetracker/jquery.mobile-1.4.5/jquery.mobile.icons-1.4.5.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'timetracker/bootstrap.min.css' %}" rel="stylesheet">


    <script src="{% static 'timetracker/jquery.min.jsm.js' %}"></script>
    <!-- <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> -->
    <script src="{% static 'timetracker/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js' %}"></script>
    <script src="{% static 'timetracker/customJS/index.js' %}"></script>


</head>

<body>

    <div data-role="page">
        <div class="jumbotron text-white bg-primary m-0 rounded-0">

            <h1 class="text-center " onclick="window.open('index','_top')"> Time manager</h1>

            {% if user.is_authenticated%}
            <h3 class="text-center text-white"><a class="text-white" href="#"> {{request.user}}</a></h3>
            <div class="text-center text-white">
                <a class="text-white" href="{% url 'logout' %}" target="_top"> Log out</a>
            </div>
            {% else%} {% if not login%}
            <div class="text-center text-white">
                <a class="mr-5 text-white" href="{% url 'login' %}" target="_top"> Log in</a>
                <a class="text-white" href="{% url 'register' %}" target="_top"> Register</a>
            </div>{%endif%}{%endif%}
        </div>
        {% if not login%}
        <div data-role="navbar" class="ui-content p-0">
            <ul>
                <li><a href="{% url 'index' %}" target="_top">Tasks</a></li>
                <li><a href="{% url 'project' %}" target="_top">Projects</a></li>
                <li><a href="{% url 'profile' %}" target="_top">Profile</a></li>
            </ul>
        </div>
        <!-- /navbar -->
        {%endif%} {% block body %} {% endblock %}
    </div>

</body>

{% block additionalScripts%}{% endblock %}




</html>