.ui-content {
    padding: 0%;
}

.tasks_done {
    height: 40vh;
    overflow: scroll;
}

.projects_list {
    height: 60vh;
    overflow: scroll;
}

#loadOverlay {
    display: none;
}

.div-input-image-file {
    height: 25vh;
    background-color: lightgray;
    background-image: url("/static/timetracker/images/drop-files.png");
    background-repeat: no-repeat;
    background-position: center;
    border: dashed darkgray 3px;
}

.div-input-image-file:hover {
    border: dashed blue 5px;
}